{% extends '@layout/default.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    {% if news is defined and news is not empty %}
		<h1>{{ news.title }}</h1>
	{% endif %}
{% endblock %}
